/target/
/.idea/
/.idea/*
logs/
screenshots/
zopsmart_meet.iml
src/main/files/.*
src/test/java/com/zopsmart/meet/test/*
src/test/java/com/zopsmart/meet/MeetScript3.java
src/test/java/com/zopsmart/meet/CassandraConnector.java
src/main/java/META-INF/
src/main/java/com/zopsmart/meet/Main.java
src/main/resources/META-INF/MANIFEST.MF